
@font-face {
  font-family: myFirstFont;
  src: url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Merriweather:wght@300&display=swap");
}

@import url("https://fonts.googleapis.com/css2?family=DM+Moto&display=swap" );
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'DM Motot';
}
.App
{
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
}
nav
{
  padding:60px 30px 0px 30px ;
  flex:var(--sidebar-flex);
  background: rgb(238,103,143);
  background: #DAF7A6;
  height: 30px;
}
.condiv
{
  padding: 100px ;
  background-color: #f2f3f4;
  flex:var(--condiv-flex);
}

.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

nav ul{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: #000 !important;
  padding: 0px;
  left: 400px;
  
}
nav ul li
{
  margin:20px;
  bottom: 300px;
}

a
{
  text-decoration: none;
  color:#000;
}

p{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p{
  margin: 10px;
}

.active
{
  font-weight: bolder;
}

@media all and (max-width: 450px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
  .App
  {
    flex-direction: column;
    height: 20px;
  }
  .sidebar
  {
    padding: 30px;
    background: #DAF7A6;
    background: #DAF7A6;
    height: 15px;
  }
  .condiv
  {
    padding: 50px ;
  }
  nav ul
  {
    display: flex;
    height: 20px;
  }
  nav ul li
  {
    margin: 10px;
    height: 20px;
  }

  .logo {
    width: 10px;
  margin: 10px;
  }

  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/bdbanner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
  }
    
  }

